<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upfunstudio.emotionsocial">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:icon="@drawable/ic_voice_chat_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_voice_chat_black_24dp"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Companion.StartActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dr.MainDoctors"
            android:label="Main" />
        <activity
            android:name=".User.MainActivity"
            android:label="Main" />
        <activity
            android:name=".Companion.LoginActivity"
            android:label="Login" />
        <activity
            android:name=".User.RegisterActivity"
            android:label="Create patient account" />
        <activity
            android:name=".User.ReportDetailsActivity"
            android:label="Real emotion report" />
        <activity
            android:name=".User.SettingsUserActivity"
            android:label="Profile"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".User.ListHistoryReportActivity"
            android:label="History Report"
            android:parentActivityName=".User.SettingsUserActivity" />
        <activity
            android:name=".User.DoctorProfileAppearForUserActivity"
            android:label="Doctor Profile"
            android:parentActivityName=".User.MainActivity" />
        <activity
            android:name=".User.CameraAnalyse"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Dr.SetttingsDoctorActivity"
            android:label="Profile"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Companion.ConsultRoomActivity"
            android:label="Consulting room" />
        <activity
            android:name=".Dr.ResponseDoctorActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".User.FavActivity"
            android:label="Favorite"
            android:parentActivityName=".User.MainActivity" />
        <activity
            android:name=".Companion.TipContentActivity"
            android:label="Psycho Tip"
            android:parentActivityName=".Dr.MainDoctors"></activity>
    </application>

</manifest>