<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.upfunstudio.emotionsocial">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:label">
        <activity
            android:name=".Companion.StartActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dr.MainDoctors"
            android:label="@string/main_doctor_label" />
        <activity
            android:name=".User.MainActivity"
            android:label="@string/main_user_label" />
        <activity
            android:name=".Companion.LoginActivity"
            android:label="@string/login_label" />
        <activity
            android:name=".User.RegisterActivity"
            android:label="@string/create_user_label" />
        <activity
            android:name=".User.ReportDetailsActivity"
            android:label="@string/real_emotio_label" />
        <activity
            android:name=".User.SettingsUserActivity"
            android:label="@string/profile_label"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".User.ListHistoryReportActivity"
            android:label="@string/history_report_label"
            android:parentActivityName=".User.SettingsUserActivity" />
        <activity
            android:name=".User.DoctorProfileAppearForUserActivity"
            android:label="@string/doctor_profile_label"
            android:parentActivityName=".User.MainActivity" />
        <activity
            android:name=".User.CameraAnalyse"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Dr.SetttingsDoctorActivity"
            android:label="@string/profile_label"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Companion.ConsultRoomActivity"
            android:label="@string/cosult_room_label" />
        <activity
            android:name=".User.FavActivity"
            android:label="@string/fav_label"
            android:parentActivityName=".User.MainActivity" />
        <activity
            android:name=".Companion.TipContentActivity"
            android:label="@string/psyho_tip_label"
            android:parentActivityName=".Dr.MainDoctors" />
        <activity
            android:name=".User.HistoryReportDetails"
            android:label="@string/history_report_details_label"
            android:parentActivityName=".User.ListHistoryReportActivity" />

        <receiver android:name=".Dr.MainDoctors$NotificationReceiver">
            <intent-filter>
                <action android:name="ACCEPT" />
                <action android:name="CANCEL" />
            </intent-filter>
        </receiver>
    </application>

</manifest>